<!-- flowerdelivery/templates/users/profile.html -->

{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}

{% block content %}
<h2>Профиль</h2>
<table class="table">
    <tr>
        <th>Логин</th>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <th>Фамилия</th>
        <td>{{ profile_data.last_name }}</td>
    </tr>
    <tr>
        <th>Имя</th>
        <td>{{ profile_data.first_name }}</td>
    </tr>
    <tr>
        <th>Отчество</th>
        <td>{{ profile_data.patronymic }}</td>
    </tr>
    <tr>
        <th>Дата рождения</th>
        <td>
            {% if profile_data.birth_date %}
                {{ profile_data.birth_date|date:"d F Y" }}
            {% else %}
                &mdash;
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ profile_data.email }}</td>
    </tr>
    <tr>
        <th>Статус в телеграм-боте</th>
        <td>
            {% if profile_data.telegram_id %}
                Зарегистрирован в телеграм-боте магазина
            {% else %}
                <a href="https://t.me/ClassicFloralShopBot?start={{ user.id }}" target="_blank" class="btn btn-primary">
                    Регистрация в телеграм-боте
                </a>
            {% endif %}
        </td>
    </tr>
</table>

<a href="{% url 'users:edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>
<a href="{% url 'users:delete_account' %}" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить свой профиль?')">Удалить профиль</a>
{% endblock %}
